@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 100% 20%; /* Azul marino como texto */

    --muted: 0 0% 96.1%;
    --muted-foreground: 215 40% 50%;

    --popover: 0 0% 100%;
    --popover-foreground: 215 100% 20%;

    --card: 0 0% 100%;
    --card-foreground: 215 100% 20%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 215 100% 20%; /* Azul marino */
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 215 100% 20%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 215 100% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 215 100% 20%;

    --radius: 0.5rem;
  }

  .dark {
    /* Puedes eliminar esto si no usas modo oscuro */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
